<div th:fragment="header-unauthorize">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="https://github.com/kqlqk/BeHealthy" class="nav-link px-2 text-white">Github</a></li>
                </ul>

                <div class="text-end">
                    <a type="button" class="btn btn-outline-light me-2" th:href="@{/login}">Sign in</a>
                    <a type="button" class="btn btn-warning" th:href="@{/registration}">Sign up</a>
                </div>
            </div>
        </div>
    </header>
</div>

<div th:fragment="header-authorize">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:href="@{/me/{id}(id=${userId})}" class="nav-link px-2 text-white">Home</a></li>
                    <li><a th:href="@{/me/{id}/food(id=${userId})}" class="nav-link px-2 text-white">Kilocalories
                        counter</a></li>
                    <li><a th:href="@{/me/{id}/workout(id=${userId})}" class="nav-link px-2 text-white">Workouts</a>
                    </li>
                </ul>

                <div class="text-end">
                    <a type="button" class="btn btn-outline-light me-2" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </header>
</div>